<h1>Creatures</h1>


<% @creatures.each do |creature| %>
    <h3><%= creature.name %></h3>
    <p><%= creature.description %><p>
    <%= link_to 'Meet creature.name', creature %>   
    <br />
<% end %>

<%= link_to "Document New Creature", new_universe_creature(@universe) %>